<title>Veículos | Consulta</title>

<div class="container-xl">

    <div class="table">
        <div class="table-wrapper">

            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h4>Veículos cadastrados</h4>
                    </div>
                    <div class="col-sm-7">
                        <a href="/veiculo/criar" class="btn btn-success">
                            <i class="bi bi-plus-circle"></i>
                            <span>Novo</span>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="dropdown-divider">

            <table id="tabela" class="table table-striped pb-3" style="width:100%">

                <thead>
                    <tr class="text-center align-middle">
                        <th class="text-center">Placa</th>
                        <th class="text-center col-2">Tipo</th>
                        <th class="text-center">Renavam</th>
                        <th class="text-center">Validade CSV</th>
                        <th class="text-center">Validade LIT</th>
                        <th class="text-center">Capacidade de Passageiros</th>
                        <th class="text-center">Ano do veículo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each resultado}}
                    <tr>
                        <td class="text-center">{{this.placa}}</td>
                        <td class="text-center">{{this.tipo}}</td>
                        <td class="text-center">{{this.numeroRenavam}}</td>
                        <td class="text-center">{{this.validadeCsv}}</td>
                        <td class="text-center">{{this.validadeLit}}</td>
                        <td class="text-center">{{this.capacidadePassageiros}}</td>
                        <td class="text-center">{{this.ano}}</td>
                        <td>
                            <span class="actions">
                                <a href="/veiculo/editar/{{this.id}}" data-title="Editar"><i class="bi bi-pencil-fill"
                                        id="lapis"></i></a>
                                <form action="/veiculo/remover" method="POST">
                                    <input type="hidden" name="id" value={{this.id}}>
                                    <button type="submit" data-toggle="tooltip" data-placement="top"
                                        data-title="Excluir">
                                        <i class="bi bi-trash3-fill" id="lixeira"></i>
                                    </button>
                                </form>
                            </span>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>

        </div>
    </div>

</div>

<!--Js do datatable com exportações-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tabela').DataTable({

            "language": {
                "url": "/cdn/pt-BR.json",
            },
            dom: '<fB<t>lp>',
            buttons: [
                {
                    extend: 'collection',
                    text: 'Exportar',
                    buttons: ['pdf', 'excel', 'csv', 'print'],
                }
            ],
            columnDefs: [
                /*{
                    targets: 3,
                    render: $.fn.dataTable.render.number('.', ',', 2, ''),
                    className: "dt-right",
                },*/
                {
                    targets: 4,
                    className: "dt-center",
                }
            ],
            order: [[0, 'desc']],

        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
