<title>Veículos | Consulta</title>
<div class="container-xl">
    <div class="table">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h4>Veículos cadastrados</h4>
                    </div>
                    <div class="col-sm-7">
                        <a href="/veiculo/criar" class="btn btn-success">
                            <i class="bi bi-plus-circle"></i>
                            <span>Novo</span>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="dropdown-divider">
            <table id="tabela" class="table table-striped pb-3" style="width:100%">

                <thead>
                    <tr class="text-center align-middle">
                        <th class="text-left">Descrição</th>
                        <th class="text-center col-2">Tipo</th>
                        <th class="text-center">Placa</th>
                        <th class="text-center">Ano</th>
                        <th class="text-center col-2">Capacidade</th>
                        <th class="text-center col-2">RENAVAM</th>
                        <th class="text-center">Validade Inspeção</th>
                        <th class="text-center">Validade Apólice</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each resultado}}
                    <tr>
                        <td class="text-left">{{this.descricao}}</td>
                        <td class="text-center">{{this.tipo}}</td>
                        <td class="text-center">{{this.placa}}</td>
                        <td class="text-center">{{this.ano}}</td>
                        <td class="text-center">{{this.capacidadePassageiros}}</td>
                        <td class="text-center">{{this.numeroRenavam}}</td>
                        <td class="text-center">{{this.validadeInspecao}}</td>
                        <td class="text-center">{{this.validadeApolice}}</td>
                        <td>
                            <span class="actions">
                                <a href="/veiculo/editar/{{this.id}}" data-title="Editar"><i class="bi bi-pencil-fill"
                                        id="lapis"></i></a>
                                <button type="button" data-placement="top" data-toggle="modal" id="botaoExcluir"
                                    data-target="#modal" data-title="Excluir" onClick="atualizarForm({{this.id}})">
                                    <i class="bi bi-trash3-fill" id="lixeira"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja mesmo excluir este cadastro?<br>
                Esta alteração irá apagar todas as viagens com este veículo.
            </div>
            <div class="modal-footer">
                <form action="" method="POST" id="formExcluir">
                    <input type="hidden" name="id" value="" id="idItem">

                    <button type="submit" class="btn btn-danger">Excluir</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Js do datatable com exportações-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tabela').DataTable({

            "language": {
                "url": "/cdn/pt-BR.json",
            },
            dom: '<fB<t>lp>',
            buttons: [
                {
                    extend: 'collection',
                    text: 'Exportar',
                    buttons: ['pdf', 'excel', 'csv', 'print'],
                }
            ],
            columnDefs: [
                /*{
                    targets: 3,
                    render: $.fn.dataTable.render.number('.', ',', 2, ''),
                    className: "dt-right",
                },*/
                {
                    //targets: 4,
                    //className: "dt-center",
                }
            ],
            order: [[0, 'desc']],

        });
        $('.dataTables_length').addClass('bs-select');
    });


    function atualizarForm(id = "") {
        document.getElementById("formExcluir").action = "/veiculo/remover"
        document.getElementById("idItem").value = id
    }
</script>