<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h4>Orcamentos</h4>
                    </div>
                    <div class="col-sm-7">
                        <a href="/orcamento/criar" class="btn btn-success"><i class="bi bi-plus-circle-fill"></i><span>
                                Novo</span></a>
                    </div>
                </div>
            </div>

            <hr class="dropdown-divider">

            <table id="tabela" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Valor</th>
                        <th>Valor Km rodado</th>
                        <th>Distância</th>
                        <th>Consumo</th>
                        <th>Preço Combustível</th>
                        <th>Lucro</th>
                        <th>Lucro Percentual</th>
                        <th>Custos Extras</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each resultado}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.valor}}</td>
                        <td>{{this.valorKm}}</td>
                        <td>{{this.distanciaKm}}</td>
                        <td>{{this.consumo}}</td>
                        <td>{{this.precoCombustivel}}</td>
                        <td>{{this.lucroValor}}</td>
                        <td>{{this.lucroPercentual}}</td>
                        <td>{{this.custosExtras}}</td>
                        <td>
                            <span class="actions">
                                <a href="/orcamento/visualizar/{{this.id}}" data-title="Visualizar"><i class="bi bi-arrows-fullscreen"
                                        id="lapis"></i></a>
                                <form action="/orcamento/remover" method="POST">
                                    <input type="hidden" name="id" value={{this.id}}>
                                    <button type="button" data-placement="top" data-toggle="modal" id="botaoExcluir"
                                    data-target="#modal" data-title="Excluir" onClick="atualizarForm({{this.id}})">
                                        <i class="bi bi-trash3-fill" id="lixeira"></i>
                                    </button>
                                </form>
                            </span>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja mesmo excluir este cadastro?<br>
                Esta alteração irá apagar todas as viagens deste cliente.
            </div>
            <div class="modal-footer">
                <form action="" method="POST" id="formExcluir">
                    <input type="hidden" name="id" value="" id="idItem">

                    <button type="submit" class="btn btn-danger">Excluir</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Js do datatable com exportações-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tabela').DataTable({

            "language": {
                "url": "/cdn/pt-BR.json",
            },
            dom: '<fB<t>lp>',
            buttons: [
                {
                    extend: 'collection',
                    text: 'Exportar',
                    buttons: ['pdf', 'print'],
                }
            ],
            columnDefs: [
                {
                    targets: 3,
                    //render: $.fn.dataTable.render.number('.', ',', 2, ''),  formatar exibição de dados na tela
                    className: "dt-right",
                },
                {
                    targets: 4,
                    className: "dt-center",
                }
            ],
            order: [[0, 'desc']],

        });

    });

    function atualizarForm(id = "") {
        document.getElementById("formExcluir").action = "/orcamento/remover"
        document.getElementById("idItem").value = id
    }
</script>